.Background {
  position: relative;

  width: 10em;
  height: 10em;

  border-radius: .2em;

  font-size: 3em;
  text-align: center;

  color: #fff;
  background-color: #602060;
}

.Background-object {
  position: absolute;
  left: 0; top: 0;
  right: 0; bottom: 0;
}

.Background-object::before, .Background-object::after {
  content: '';
  position: absolute;
  left: 50%;

  margin-left: -3em;
}

.Background-object::before {
  bottom: 2.5em;

  border: 3em solid transparent;
  border-bottom: 1.5em solid #519e21;
}

.Background-object::after {
  bottom: 0;

  height: 2.5em;

  border-left: 3em solid #af9652;
  border-top: 1.5em solid #519e21;
  border-right: 3em solid #795d0f;
}

.Background-title {
  padding: 1em;
  margin: 0;

  color: #fff;
}
