@import url('https://fonts.googleapis.com/css?family=Quicksand:300,700');

body {
	font-family: 'Quicksand', sans-serif;

	background: #fefdfb;
	color: #000;
}

p, ul, ol {
	line-height: 1.5;
}

a {
	text-decoration: none;
	color: currentColor;
}

p a { text-decoration: underline; }

em {
	color: #f35e68;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
}

h1 { font-size: 3em; }
h1::after {
	content: '';

	display: block;
	width: 2em;
	margin-top: .25em;

	border: .1rem solid #f35e68;
	border-radius: .1rem;
}
.left h1::after { margin: .25em auto 0 0; }
.center h1::after { margin: .25em auto 0; }
.right h1::after { margin: .25em 0 0 auto; }

h2 { font-size: 2em; }

input {
	padding: .5em;
	margin-right: .5em;
	margin-bottom: .5em;
	border: none;
	border-bottom: .1rem solid;

	background: transparent;
}

::-webkit-input-placeholder {
  color: rgba(0, 0, 0, .5);
}

.hidden { display: none; }

.alignleft { float: left !important; }
.alignright { float: right !important; }

.left   { text-align: left; }
.center { text-align: center; }
.right  { text-align: right; }
.middle {
	display: flex;
	align-items: center;
}

.fullheight {
	height: 100vh;
}
